<html>
<head><title>Rank Point Calculator</title>
</head>
<h1> Rank Point Calculator </h1>
<h2> This is a webapp to calculate your Rank Points </h2>
<form action="/display" method="POST">
	<div>
		<label for="name_id">Name:</label>
		<input type="text" id = "name_id" name = "name_name" placeholder="Enter your name in full">
	</div>
	<br>
	<div>
		<label for="subs_1_id">1st subject: </label>
		<input type = "text" id = "subs_1_id" name = "subs_1_name" placeholder ="Enter grade here in caps">
	</div>
	<br>
	<div>
		<label for="subs_2_id">2nd subject: </label>
		<input type = "text" id = "subs_2_id" name = "subs_2_name" placeholder="Enter grade here in caps">
	</div>
	<br>
	<div>
		<label for="subs_3_id">3rd subject: </label>
		<input type="text" id = "subs_3_id" name = "subs_3_name" placeholder="Enter grade here in caps">
	</div>
	<br>
	<div>
		<label for="subs_4_id">4th subject: </label>
		<input type="text" id = "subs_4_id" name = "subs_4_name" placeholder="lowest grade/h1 subject here">
	</div>
	<br>
	<div>
		<label for="subs_5_id">GP:</label>
		<input type="text" id = "subs_5_id" name = "subs_5_name" placeholder="Enter grade here in caps">
	</div>
	<br>
	<div>
		<label for="subs_6_id">Project Work:</label>
		<input type="text" id = "subs_6_id" name = "subs_6_name" placeholder="Enter grade here in caps">
	</div>
	<br>
	<div>
		<input type="submit" value="Submit your details">
	</div>
</form>
</html>